/* ================================================ RESET =========================================================== */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

/* =============================================== FONTS ============================================================ */
@font-face {
    font-family: 'OpenSans Regular';
    src: url("../Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'OpenSans Light';
    src: url("../Open_Sans/OpenSans-Light.ttf");
}

@font-face {
    font-family: 'OpenSans Bold';
    src: url("../Open_Sans/OpenSans-Bold.ttf");
}

body {
    font-size: 16px;
    font-family: 'OpenSans Regular';
    color: rgb(53, 53, 53);
}

h1 {
    font-size: 40px;
    font-family: 'OpenSans Light';
}

h2 {
    font-size: 36px;
    font-family: 'OpenSans Light';
}

h3 {
    font-size: 32px;
    font-family: 'OpenSans Light';
}

h4 {
    font-size: 28px;
    font-family: 'OpenSans Regular';
}

h5 {
    font-size: 24px;
    font-family: 'OpenSans Regular';
}

h6 {
    font-size: 20px;
    font-family: 'OpenSans Regular';
}


/* =============================================== GRIDS ============================================================ */

/* Display */

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {

    .container {
        width: 100%;
    }

    .row {
        width: 100%;
        margin: 10px 0; 
    }

    /* columns */
    .col-1 {
        width: 7.5%;
        margin: 0 auto;
    }

    .col-2 {
        width: 15%;
        margin: 0 auto;
    }

    .col-3 {
        width: 22.5%;
        margin: 0 auto;
    }

    .col-4 {
        width: 30%;
        margin: 0 auto;
    }

    .col-5 {
        width: 37.5%;
        margin: 0 auto;
    }

    .col-6 {
        width: 45%;
        margin: 0 auto;
    }

    .col-7 {
        width: 52.5%;
        margin: 0 auto;
    }

    .col-8 {
        width: 60%;
        margin: 0 auto;
    }

    .col-9 {
        width: 67.5%;
        margin: 0 auto;
    }

    .col-10 {
        width: 75%;
        margin: 0 auto;
    }

    .col-11 {
        width: 82.5%;
        margin: 0 auto;
    }

    .col-12 {
        width: 90%;
        margin: 0 auto;
    }

    /* offsets */
    .off-1 {
        width: 17.5%;
        margin: 0 auto;
    }

    .off-2 {
        width: 25%;
        margin: 0 auto;
    }

    .off-3 {
        width: 32.5%;
        margin: 0 auto;
    }

    .off-4 {
        width: 40%;
        margin: 0 auto;
    }

    .off-5 {
        width: 47.5%;
        margin: 0 auto;
    }

    .off-6 {
        width: 55%;
        margin: 0 auto;
    }

    .off-7 {
        width: 62.5%;
        margin: 0 auto;
    }

    .off-8 {
        width: 70%;
        margin: 0 auto;
    }

    .off-9 {
        width: 77.5%;
        margin: 0 auto;
    }

    .off-10 {
        width: 85%;
        margin: 0 auto;
    }

    .off-11 {
        width: 92.5%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 720px) {

    /* columns */

    .col-md-1 {
        width: 7.5%;
        margin: 0 auto;
    }

    .col-md-2 {
        width: 15%;
        margin: 0 auto;
    }

    .col-md-3 {
        width: 22.5%;
        margin: 0 auto;
    }

    .col-md-4 {
        width: 30%;
        margin: 0 auto;
    }

    .col-md-5 {
        width: 37.5%;
        margin: 0 auto;
    }

    .col-md-6 {
        width: 45%;
        margin: 0 auto;
    }

    .col-md-7 {
        width: 52.5%;
        margin: 0 auto;
    }

    .col-md-8 {
        width: 60%;
        margin: 0 auto;
    }

    .col-md-9 {
        width: 67.5%;
        margin: 0 auto;
    }

    .col-md-10 {
        width: 75%;
        margin: 0 auto;
    }

    .col-md-11 {
        width: 82.5%;
        margin: 0 auto;
    }

    .col-md-12 {
        width: 90%;
        margin: 0 auto;
    }
    
    /* offsets */
    .off-md-1 {
        width: 17.5%;
        margin: 0 auto;
    }

    .off-md-2 {
        width: 25%;
        margin: 0 auto;
    }

    .off-md-3 {
        width: 32.5%;
        margin: 0 auto;
    }

    .off-md-4 {
        width: 40%;
        margin: 0 auto;
    }

    .off-md-5 {
        width: 47.5%;
        margin: 0 auto;
    }

    .off-md-6 {
        width: 55%;
        margin: 0 auto;
    }

    .off-md-7 {
        width: 62.5%;
        margin: 0 auto;
    }

    .off-md-8 {
        width: 70%;
        margin: 0 auto;
    }

    .off-md-9 {
        width: 77.5%;
        margin: 0 auto;
    }

    .off-md-10 {
        width: 85%;
        margin: 0 auto;
    }

    .off-md-11 {
        width: 92.5%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 719px){

    /* columns */
    .col-sm-1 {
        width: 7.5%;
        margin: 0 auto;
    }

    .col-sm-2 {
        width: 15%;
        margin: 0 auto;
    }

    .col-sm-3 {
        width: 22.5%;
        margin: 0 auto;
    }

    .col-sm-4 {
        width: 30%;
        margin: 0 auto;
    }

    .col-sm-5 {
        width: 37.5%;
        margin: 0 auto;
    }

    .col-sm-6 {
        width: 45%;
        margin: 0 auto;
    }

    .col-sm-7 {
        width: 52.5%;
        margin: 0 auto;
    }

    .col-sm-8 {
        width: 60%;
        margin: 0 auto;
    }

    .col-sm-9 {
        width: 67.5%;
        margin: 0 auto;
    }

    .col-sm-10 {
        width: 75%;
        margin: 0 auto;
    }

    .col-sm-11 {
        width: 82.5%;
        margin: 0 auto;
    }

    .col-sm-12 {
        width: 90%;
        margin: 0 auto;
    }

    /* offsets */
    .off-sm-1 {
        width: 17.5%;
        margin: 0 auto;
    }

    .off-sm-2 {
        width: 25%;
        margin: 0 auto;
    }

    .off-sm-3 {
        width: 32.5%;
        margin: 0 auto;
    }

    .off-sm-4 {
        width: 40%;
        margin: 0 auto;
    }

    .off-sm-5 {
        width: 47.5%;
        margin: 0 auto;
    }

    .off-sm-6 {
        width: 55%;
        margin: 0 auto;
    }

    .off-sm-7 {
        width: 62.5%;
        margin: 0 auto;
    }

    .off-sm-8 {
        width: 70%;
        margin: 0 auto;
    }

    .off-sm-9 {
        width: 77.5%;
        margin: 0 auto;
    }

    .off-sm-10 {
        width: 85%;
        margin: 0 auto;
    }

    .off-sm-11 {
        width: 92.5%;
        margin: 0 auto;
    }
}