/* ================================================ RESET =========================================================== */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

/* =============================================== FONTS ============================================================ */
@font-face {
    font-family: 'OpenSans Regular';
    src: url("../Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'OpenSans Light';
    src: url("../Open_Sans/OpenSans-Light.ttf");
}

@font-face {
    font-family: 'OpenSans Bold';
    src: url("../Open_Sans/OpenSans-Bold.ttf");
}
